
 


<link rel="stylesheet" href="/css/BorrowStyle.css">


<div class = "list">
      <div class = "form1">
        {{#each books}}
          <option name = "option" value={{BookNo}}>{{this.Title}}</option>
          <option name = "option" value={{BookNo}}>{{this.Author}}</option>
          <option name = "option" value={{BookNo}}>{{this.Genre}}</option>
          <option name = "option" value={{BookNo}}>{{this.Qty}}</option>
        {{/each}}
        <form>
          <h1 class = "xUser">Borrow Books</h1>

   
          </div>
          
          
          <a class = "order" href= "/login/regUser">Back</a>

        
        
        </form>
      </div>
</div>    