
 


<link rel="stylesheet" href="/css/BorrowStyle.css">


<div class = "list">
      <div class = "form1">
        <form method = "post" action = "/regUser/return">
          <h1 class = "xUser"> Welcome {{fName}} {{lName}}</h1>
          <span>
          <h2 class = 'cart_name'>List of Borrowed books</h2>
          <div class = list>
            {{#each books}}
          
          
            <span  class = "books" name = "option" value={{this.Title}}>Title: {{this.Title}}</span>
            <span  class = "books" name = "option" value={{this.Author}}>Author: {{this.Author}}</span>
            <span  class = "books" name = "option" value={{this.Genre}}>Genre: {{this.Genre}}</span>
            <span  class = "books" name = "option" value={{this.BookNo}}>Book No.: {{this.BookNo}}</span>
            <span  class = "books" name = "option" value={{this.dateBorrowed}}>Date Borrowed: {{this.dateBorrowed}}</span>
            <span  class = "books" name = "option" value={{this.dateDue}}>Date Due: {{this.dateDue}}</span>
            <br>
          

            {{/each}}
              <label style = "margin-left:10px">Book No.</label>
              <input style = "margin-left:5px", name ="bookNo" type = "text", id ="list_bb", placeholder = "book#x">
              <button class = "order">Return </button>
          </div>
        </span>
          <a class = "order" href = "/login/regUser">Back</a>
        </form>
      </div>
    </div>